.herosection {
	position: relative;
	z-index: 1;

	color: var(--white);
}

.herosection__wrapper {
	font-weight: bold;
	background-color: rgba(var(--rgb-gray), var(--alpha-75));
	border-radius: var(--card-radius);

	max-width: 1000px;
	padding: calc(var(--offset) * 3);
}

.herosection__title {
	font-weight: 600;
	margin-bottom: var(--offset);
}

.herosection__subtitle {
	max-width: 800px ;
	margin: 0;
}