.homepage {
	/* z-index: 1; */
}

.homepage__hero {
	background-color: var(--dark-blue);
	background-image: url("./image/aprt_hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-bottom: var(--offset-half);
}

.homepage__aparts {
	margin-bottom: var(--offset-half);	
	padding-bottom: 0;
}

.homepage__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--offset);

	margin-bottom: var(--offset);
}

.homepage__showall {
	display: flex;
	justify-content: center;
}

.homepage__showall .button {
	transition: var(--ease-in-out-transition);
}

.homepage__showall .button:hover {
	color: var(--orange);
	border-color: var(--orange);
}

.homepage__services {
	margin-bottom: var(--offset-half);	
	padding-bottom: var(--offset-half);
}

.homepage__servicecards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--offset);
}

.homepage__map {
	margin-bottom: var(--offset-half);
}

.homepage__map_frame {
	width: 100%;
	min-height: calc(var(--site-width) / 2);
	box-shadow: var(--card-shadow-light);
	border-radius: var(--card-radius);
}