.apartprops {
	max-width: 100%;
	min-width: 30vw;
	
	margin: 0 auto;
}

.apartprops__title {
	font-weight: 600;

	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);

	border-bottom: 1px solid var(--dark-blue);
}

.apartprops__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--offset-half) var(--offset);
}

@media screen and (width <= 700px){
	.apartprops {
		width: 100%;
	}

	.apartprops__list {
		grid-template-columns: repeat(4, 1fr);
		gap: var(--offset-half);
	}
}

@media screen and (width <= 500px){
	.apartprops__list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width <= 400px){
	.apartprops__list {
		grid-template-columns: repeat(2, 1fr);
	}
}