.propitem {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: calc(var(--offset-half) / 2);

	border: 1px solid var(--dark-blue);
	border-radius: calc(var(--offset-half) / 3);

	background-color: var(--white);
}

.propitem__icon {
	font-weight: bold;
	font-size: 3rem;
}

.propitem__content {
	font-weight: 600;
	color: var(--gray);
}