.apartcard {
	border: 2px solid var(--dark-blue);
	border-radius: calc(var(--card-radius) );
	overflow: hidden;

	display: grid;

	grid-template-rows: min-content 1fr min-content;
}

.apartcard__image {
	min-height: calc(var(--site-width) / 6);
	max-height: calc(var(--site-width) / 6);

	width: 100%;
	margin: 0 auto;

	display: block;

	object-fit: cover;
	object-position: center;
}

.apartcard__body {
	padding: var(--offset-half);
	display: flex;
	flex-direction: column;
}

.apartcard__footer {
	padding: 0 var(--offset-half) var(--offset-half) var(--offset-half);
}

.apartcard__title {
	margin-bottom: var(--offset-half);
	font-size: 2.3rem;
	font-weight: 600;
	color: var(--dark-blue);

}

.apartcard__snippet {
	margin-bottom: 0;
}

.apartcard__button {
	margin-bottom: 0;
	max-width: 100%;
	width: 100%;
	transition: var(--ease-in-out-transition);
}

.apartcard__button:hover {
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
}