.servicecard {
	box-shadow: var(--card-shadow-light);
	border-radius: var(--card-radius);

	margin: 0;
	padding: var(--offset-half);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.servicecard__image {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
	margin-bottom: var(--offset-half);
}

.servicecard__title {
	color: var(--black);
	margin-bottom: var(--offset-half);
	font-weight: 500;
	font-size: 2.2rem;
}

.servicecard__snippet {
	margin-bottom: var(--offset-half);
}