.header {
	display: grid;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	grid-template-columns: max-content max-content;
	gap: var(--offset);

}

.header__logo {

}

.header__logo a {
	color:var(--white);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2rem;

	transition: var(--ease-in-out-transition);
}

.header__logo a:hover {
	color: var(--light-blue);
}

.header__nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	padding: 0;

}